@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: #000000;
  --secondary-color: #fdc103;
  --icongold-color: #ca9a02;
  --white-color: #fafafa;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .button_hover {
    color: var(--secondary-color);
    background-color: var(--primary-color) !important;
    &:hover {
      background-color: var(--secondary-color) !important;
      color: var(--primary-color);
      color: #000;
      box-shadow: 0 8px 4px rgba(1, 1, 0, 0.2);
    }
  }
  .button_no_hover {
    background-color: var(--secondary-color) !important;
    color: var(--primary-color);
  }
  .button_shadow {
    background-color: var(--secondary-color) !important;
    color: var(--primary-color);
    box-shadow: 0px 4px 7px rgba(1, 1, 0, 0.1);
    transition: all 0.5s ease-in;

    &:hover {
      box-shadow: 0px 2px 12px 3px rgba(1, 1, 0, 0.1);
    }
  }
  .text-primary {
    color: var(--primary-color);
  }

  .bg-primary {
    background-color: var(--primary-color);
  }
  .text-secondary {
    color: var(--secondary-color);
  }
  .bg-secondary {
    background-color: var(--secondary-color);
  }
  .text-icongold {
    color: var(--icongold-color);
  }
  .bg-icongold {
    background-color: var(--icongold-color);
  }
  .text-white {
    color: var(--white-color);
  }
  .bg-white {
    background-color: var(--white-color);
  }
}

.container {
  max-width: 3824px;
  width: 95% !important;
  margin: auto;
  overflow: hidden;
}

@media only screen and (max-width: 1700px) {
  .container {
    max-width: 1250px !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    max-width: 815px !important;
  }
  .about_col {
    flex-direction: column !important;
  }
  .form_md{
    width: 95% !important;
  }
  .grid_md {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
  .unset_display {
    text-align: center !important;
    display: unset !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .container {
        max-width: 443px !important;
        width: 90% !important;
  }
  .grid_sm {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
  .service_sm{
    display: grid !important;
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .about_col {
    flex-direction: column !important;
  }
  
  .unset_display_sm {
    text-align: left !important;
    display: unset !important;
  }
  .footer_p{
    width:100% !important;
    
  }
  
  .button_shadow{
    padding-right:2rem;
    padding-left:2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
}

/* Add Montserrat font to the body */
body {
  font-family: "Montserrat", sans-serif;
}
